<div class="row">

    <div class="col-md-4">
        <p>
          <strong>Picture:</strong>
          <%= image_tag(@movie.picture_url, width: 350) if @movie.picture.present? %>
        </p>
    </div>

    <div class="col-md-8">
        <h2><%= @movie.title %></h2>
        <h3>Director: <%= @movie.director %></h3>
        <h4>Category: <%= @movie.category.name %></h4>
        <h4>Highlights: </h4>
        <p><%= @movie.description %></p>
        <h4>Release Date: <%= @movie.release %></h4>
    </div>
</div>

<div class="row">
    
    <div class="col-md-4">
        <!-- where the reviews and ratings will go -->
        
        <div>
            <%= link_to "Add Review", new_movie_review_path(@movie) %>
        </div>
    </div>
    
</div>

<%= link_to "Home", root_path %>

<% if user_signed_in? %>

    <% if @movie.user_id == current_user.id %>

        <%= link_to "Edit", edit_movie_path(@movie) %>
        <%= link_to "Delete", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" } %>

    <% end %>

<% end %>

